@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-beige: #F5F5DC;
  --color-coffee: #3D2B1F;
  --color-clay: #79443B;
  --color-cinnamon: #AF6E4D;
  --color-wood: #81613E;
  --color-goldenrod: #DAA520;
  --color-darkwood:4A412A;
  --font-bogart: "bogart", sans-serif;
  --font-bogart-black: "bogart", sans-serif;
  --font-miller-banner: "miller-banner", serif;
  --font-halyard-text: "halyard-text", sans-serif;
  --font-area-normal: "area-normal", sans-serif;
  --font-articulat-cf: "articulat-cf", sans-serif; 
  --font-job-clarendon: "job-clarendon", serif;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

